/*!
 * jGauge v0.4.0 Beta 01
 * http://www.jgauge.com/
 
 * Developed by Darian Cabot
 * http://www.dariancabot.com/
 * 
 * Date: 27 October 2010
 */

*
{
	border:0;
	margin:0;
	padding:0;
}

body
{
	color:#456;
	font-family:Helvetica, Arial, sans-serif;
	font-size:80%;
	min-width:700px;
}

h1
{
	color:#024;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	text-shadow:1px 1px 2px #bbb;
	margin:20px 28px 10px;
}

h2
{
	font-size: 16px;
	text-shadow:1px 1px 2px #bbb;
	margin:20px 28px 10px;
}

p
{
	line-height: 1.5em;
	margin: 10px 28px;
}

p.code
{
	border: 1px solid #bcf;
}

.code
{
	background-color: #cdf;
	color: #024;
	font-family: Consolas, "Courier New", "DejaVu Sans Mono", monospace;
	font-size: 12px;
	line-height:1.5em;
	margin:10px 28px;
	padding: 4px;
}

a
{
	color:#f20;
	text-decoration:none;
}

a:hover
{
	text-decoration: underline;
}

#main
{
	width: 800px;
	margin: 20px auto;
}

#header
{
	background-color: #024;
	width: 100%;
	padding: 5px;
}

#title
{
	margin: 20px auto;
	width: 800px;
}

#title img
{
	margin: 0 20px;
}

div.buttons
{
	background-color: #efefef;
	margin: 10px 20px;
	border: solid 1px #ddd;
}

div.buttons a
{
	background-color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	border: 1px solid #888;
	padding: 2px 4px;
	margin: 4px;
	text-decoration: none;
	text-align: center;
	width: 50px;
}

div.buttons a:hover
{
	background-color: #cef;
}

div.break
{
	clear: both;
}


table
{
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	font-size: 100%;
	margin: 10px 28px;
	width: 744px;
}

th
{
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	color: #024;
	line-height:1.5em;
	padding: 2px 4px;
}

td
{
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	line-height:1.5em;
	padding: 0 4px;
}

#noscript-warning
{
	background-color: #ff0000;
	border-bottom: 1px solid #e00;
	height: 17px;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2000;
}
